<hr>
<p class="footer-text">Question / comments / ideas? Contact: Chris Busse / <a href="mailto:chrisbusse@gmail.com">chrisbusse@gmail.com</a> • <a href="http://twitter.com/busse">@busse</a> or visit the GitHub repo: <a href="https://github.com/busse/bha">https://github.com/busse/chrisbusse-com</a>
<!-- <p class="footer-text">Icons CC BY 3.0 US <a href="https://thenounproject.com/ralfschmitzer/collection/sketchy/">Ralf Schmitzer / the Noun Project</a></p> -->
<p class="footer-text">Unless otherwise noted, all content Copyright &copy;2021 Chris Busse. All Rights Reserved</p>